<%= form_with(model: [@post, @nested_post]) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :tags, 'Tags (comma separated)' %>
    <%= form.text_field :tags, value: @nested_post.tags.map(&:name).join(",") %>
  </div>
  <div class="field">
    <%= form.label :topic %>
    <%= form.select :topic, NestedPost.topics.keys.map { |topic| [topic.capitalize, topic] } %>
  </div>
  <div class="actions">
    <%= form.submit 'Create' %>
  </div>
<% end %>
