<style>


</style>
<div class="container mt-5">
  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title"><%= @nested_post.title %></h2>
      <p class="card-text"><%= @nested_post.body %></p>

      <!-- Post Fields -->
      <% if @nested_post.post.integer_field1.present? %>
        <p class="card-text"><strong>Integer Field 1:</strong> <%= @nested_post.post.integer_field1 %></p>
      <% end %>

      <% if @nested_post.post.integer_field2.present? %>
        <p class="card-text"><strong>Integer Field 2:</strong> <%= @nested_post.post.integer_field2 %></p>
      <% end %>

      <% if @nested_post.post.integer_field3.present? %>
        <p class="card-text"><strong>Integer Field 3:</strong> <%= @nested_post.post.integer_field3 %></p>
      <% end %>

      <!-- String Fields -->
      <% if @nested_post.post.string_field1.present? %>
        <p class="card-text"><strong>String Field 1:</strong> <%= @nested_post.post.string_field1 %></p>
      <% end %>

      <% if @nested_post.post.string_field2.present? %>
        <p class="card-text"><strong>String Field 2:</strong> <%= @nested_post.post.string_field2 %></p>
      <% end %>

      <% if @nested_post.post.string_field3.present? %>
        <p class="card-text"><strong>String Field 3:</strong> <%= @nested_post.post.string_field3 %></p>
      <% end %>

      <!-- Multiline Text Fields -->
      <% if @nested_post.post.multiline_text1.present? %>
        <p class="card-text"><strong>Multiline Text 1:</strong></p>
        <p><%= @nested_post.post.multiline_text1 %></p>
      <% end %>

      <% if @nested_post.post.multiline_text2.present? %>
        <p class="card-text"><strong>Multiline Text 2:</strong></p>
        <p><%= @nested_post.post.multiline_text2 %></p>
      <% end %>

      <% if @nested_post.post.multiline_text3.present? %>
        <p class="card-text"><strong>Multiline Text 3:</strong></p>
        <p><%= @nested_post.post.multiline_text3 %></p>
      <% end %>

      <!-- Boolean Fields -->
      <% if @nested_post.post.boolean_field1.present? %>
        <p class="card-text"><strong><%= @nested_post.post.boolean_field1_text %>:</strong> <%= @nested_post.post.boolean_field1 ? 'True' : 'False' %></p>
      <% end %>

      <% if @nested_post.post.boolean_field2.present? %>
        <p class="card-text"><strong><%= @nested_post.post.boolean_field2_text %>:</strong> <%= @nested_post.post.boolean_field2 ? 'True' : 'False' %></p>
      <% end %>

      <% if @nested_post.post.boolean_field3.present? %>
        <p class="card-text"><strong><%= @nested_post.post.boolean_field3_text %>:</strong> <%= @nested_post.post.boolean_field3 ? 'True' : 'False' %></p>
      <% end %>

      <!-- Date Fields -->
      <% if @nested_post.post.date_field1.present? && @nested_post.post.date_field1 != Date.current %>
        <p class="card-text"><strong>Date Field 1:</strong> <%= @nested_post.post.date_field1 %></p>
      <% end %>

      <% if @nested_post.post.date_field2.present? && @nested_post.post.date_field2 != Date.current %>
        <p class="card-text"><strong>Date Field 2:</strong> <%= @nested_post.post.date_field2 %></p>
      <% end %>

      <% if @nested_post.post.date_field3.present? && @nested_post.post.date_field3 != Date.current %>
        <p class="card-text"><strong>Date Field 3:</strong> <%= @nested_post.post.date_field3 %></p>
      <% end %>

      <p class="text-muted">Posted by <%= @nested_post.user.email %> <%= time_ago_in_words(@nested_post.created_at) %> ago</p>

      <% if user_signed_in? && (@nested_post.user == current_user || current_user.admin?) %>
        <div class="d-flex d-flex justify-content-start">
          <%= button_to edit_post_nested_post_path(@nested_post.post, @nested_post), method: :get, class: "btn btn-primary" do %>
          <i class="bi bi-pen-fill"></i>
          
          <% end %>
          
          <%= button_to post_nested_post_path(@nested_post.post, @nested_post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do%>
          <i class="bi bi-trash-fill"></i>
          <% end %>
          
        </div>
      <% end %>

      <br>
      <p><strong>Likes:</strong> <%= @nested_post.likes.count %></p>
      <% if user_signed_in? %>
        <% if @nested_post.likes.where(user_id: current_user.id).exists? %>
          <%= button_to  post_nested_post_like_path(@nested_post.post, @nested_post, @nested_post.likes.find_by(user_id: current_user.id)), method: :delete, class: "btn btn-danger" do%>
          <i class="bi bi-hand-thumbs-down-fill"></i>
          <% end %>
          
        <% else %>
          <%= button_to post_nested_post_likes_path(@nested_post.post, @nested_post), method: :post, class: "btn btn-success" do%>
          <i class="bi bi-hand-thumbs-up-fill"></i>
          <% end %>
          
        <% end %>
      <% end %>
      <hr>
      <p><strong>Tags:</strong></p>
      <% @nested_post.tags.each do |tag| %>
        <%= link_to tag.name.capitalize, tag_path(tag), class: "badge bg-primary" %>
      <% end %>
      <br>
    </div>
  </div>
  
  <div>
    <h2>Comment Section</h2>
    <p><strong>Total Comments:</strong> <%= @comments.count %></p>
    <div id="comments">
      <% @comments.reverse_each do |comment| %>
        <div class="card mb-3">
          <div class="card-body">
            <p class="card-text"><strong><%= comment.name %>:</strong> <%= comment.body %></p>
            <p class="text-muted">Posted <%= time_ago_in_words(comment.created_at) %> ago</p>
          </div>
        </div>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <%= form_for([@nested_post, @nested_post.comments.build]) do |f| %>
        <div class="mb-3">
          <%= f.label :name, "User name:", class: "form-label" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :body, "Leave a comment!", class: "form-label" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.submit 'Submit', class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
