<h1>Create a Jira Issue</h1>

<%= form_with url: create_jira_issue_path, method: :post do |f| %>
  <div>
    <%= f.label :summary %>
    <%= f.text_field :summary %>
  </div>
  <div>
    <%= f.label :priority %>
    <%= f.select :priority, options_for_select(['High', 'Average', 'Low']) %>
  </div>
  <%= f.hidden_field :referrer_url, value: @referrer_url %> <!-- Hidden field to capture referrer URL -->
  <%= f.hidden_field :post_title, value: @post.title if @post.present? %> <!-- Hidden field for post title -->
  <div>
    <%= f.submit "Create Issue" %>
  </div>
<% end %>
