
<% if user_signed_in?%>
  <h1>Welcome to the Home Page <%=current_user.email%></h1>
<%else%>
  <h1>Welcome to the Home Page</h1>
<% end %>

<br>
<h2>Latest Items: </h2>
<ul>
  <% @latest_items.each do |item| %>
  <div class="d-inline-flex p-2 card border-primary mb-3" style="max-width: 30rem;">
  <div class="card-header"><p>Topic: <%= item.post.topic.humanize %></p></div>
  <div class="card-body">
    <h4 class="card-title"><strong>Item: </strong> <%= item.title %></h4>
    <p class="card-text"><strong>Posted from: </strong> <%= link_to item.post.title, post_path(item.post),style: "text-decoration: none;" %>
    <br>
    <br>
    <strong>Tags: </strong><% item.tags.each do |tag| %>
    <%= link_to tag.name.capitalize, tag_path(tag), class: "tag",style: "text-decoration: none;" %>
  <% end %>
  <br>
    </p>
  </div>
</div>
  <% end %>
</ul>
<br>
<br>
<h2>Top 5 Largest Collections: </h2>
<br>
<ul>
  <% @top_posts.each do |post| %>
   <div class="d-inline-flex p-2 card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title"><strong>Title:</strong > <%= link_to post.title, post_path(post),style: "text-decoration: none;" %></h4>
    <p class="card-text"><strong>Number of Items:</strong> <%= post.nested_posts.count %></p>
  </div>
</div>
  <% end %>
</ul>
<br>
<h2>Tag Cloud</h2>
<br>
<div class="tag-cloud">
  <% @tags.each do |tag| %>
  <button type="button" class="d-inline-flex p-2 card border-primary mb-3" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-bs-original-title="Popover Title" aria-describedby="popover601591"><%= link_to tag.name, tag_path(tag), class: "tag",style: "text-decoration: none;" %></button>
  <% end %>
<br>
<br>

</div>
