<div id="<%= dom_id(tag) %>" class="mb-3">
  <p>
    <strong>Name:</strong>
    <%= tag.name %>
  </p>

  <h2>Items:</h2>
  <% tag.taggables.each do |taggable| %>
    <div class="nested-post card mb-3">
      <div class="card-body">
        <h3 class="card-title"><%= taggable.nested_post.title %></h3>
        <p class="card-text"><%= taggable.nested_post.body %></p>
        <%= link_to 'Read More', post_path(taggable.nested_post.post, taggable.nested_post), class: "btn btn-primary" %>
        <hr />
      </div>
    </div>
  <% end %>
</div>
