<style>
  

</style>
<%= form_for @post, html: { class: 'mt-5' } do |f| %>
  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :title, "Name", class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :body, "Description", class: "form-label" %>
      <%= f.text_area :body, id: "markdown-editor", class: "form-control" %>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :topic, "Topic", class: "form-label" %>
      <%= f.select :topic, Post.topics.keys.map { |topic| [topic.capitalize, topic] }, {}, class: "form-select" %>
    </div>
  </div>

  <!-- Integer Fields -->
  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :integer_field1, "Integer Field 1", class: "form-label" %>
      <%= f.number_field :integer_field1, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :integer_field2, "Integer Field 2", class: "form-label" %>
      <%= f.number_field :integer_field2, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :integer_field3, "Integer Field 3", class: "form-label" %>
      <%= f.number_field :integer_field3, class: "form-control" %>
    </div>
  </div>

  <!-- String Fields -->
  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :string_field1, "String Field 1", class: "form-label" %>
      <%= f.text_field :string_field1, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :string_field2, "String Field 2", class: "form-label" %>
      <%= f.text_field :string_field2, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :string_field3, "String Field 3", class: "form-label" %>
      <%= f.text_field :string_field3, class: "form-control" %>
    </div>
  </div>

  <!-- Multiline Text Fields -->
  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :multiline_text1, "Multiline Text 1", class: "form-label" %>
      <%= f.text_area :multiline_text1, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :multiline_text2, "Multiline Text 2", class: "form-label" %>
      <%= f.text_area :multiline_text2, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :multiline_text3, "Multiline Text 3", class: "form-label" %>
      <%= f.text_area :multiline_text3, class: "form-control" %>
    </div>
  </div>

  <!-- Boolean Checkboxes -->
  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :date_field1, "Date Field 1", class: "form-label" %>
      <br>
      <%= f.text_field :boolean_field1_text %> 
      <%= f.check_box :boolean_field1, {}, true, false %>
     </div>
  </div>

  
  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :date_field1, "Date Field 2", class: "form-label" %>
      <br>
      <%= f.text_field :boolean_field2_text %> 
      <%= f.check_box :boolean_field2, {}, true, false %>
     </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :date_field1, "Date Field 3", class: "form-label" %>
      <br>
      <%= f.text_field :boolean_field2_text %> 
      <%= f.check_box :boolean_field2, {}, true, false %>
     </div>
  </div>

   <!-- Date Fields -->
  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :date_field1, "Date Field 1", class: "form-label" %>
      <%= f.date_select :date_field1, {}, class: "form-select" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :date_field2, "Date Field 2", class: "form-label" %>
      <%= f.date_select :date_field2, {}, class: "form-select" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :date_field3, "Date Field 3", class: "form-label" %>
      <%= f.date_select :date_field3, {}, class: "form-select" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.submit 'Create', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    new SimpleMDE({ element: document.getElementById("markdown-editor") });
  });
</script>