<h1><%= @post.title %></h1>
<p><%= markdown(@post.body) %></p>
<p>Topic: <%= @post.topic.humanize %></p>
<% if user_signed_in? && (@post.user == current_user || current_user.admin?) %>
  <%= link_to "Edit Post", edit_post_path(@post) %>
  <%= button_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to 'Add Nested Post', new_post_nested_post_path(@post) %>
<% end %>

<hr>

<h2>Nested Posts</h2>
<ul>
  <% @post.nested_posts.each do |nested_post| %>
    <li>
      <%= link_to nested_post.title, post_nested_post_path(@post, nested_post) %>
      <p><%= truncate(nested_post.body, length: 50) %></p>
      
    </li>
  <% end %>
</ul>

<hr>
