<h2><%= @post.title %></h2>
<div>
  <%= @post.body %>
</div>
<br>

<% if user_signed_in? %>
  <%= link_to "Edit Collections", edit_post_path(@post) %>
  <br>
  <%= button_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
  <br>
  <%= link_to 'Add Items', new_post_nested_post_path(@post) %>
<% end %>

<br>
<p>Likes: <%= @post.likes.count %></p>
<% if user_signed_in? %>
  <% if @post.likes.where(user_id: current_user.id).exists? %>
    <%= button_to 'Unlike', post_like_path(@post, @post.likes.find_by(user_id: current_user.id)), method: :delete %>
  <% else %>
    <%= button_to 'Like', post_likes_path(@post), method: :post %>
  <% end %>
<% end %>

<h2>List of Items: </h2>
<ul>
  <% @post.nested_posts.each do |nested_post| %>
    <li>
      <%= nested_post.title %>
      <br>
      <%= nested_post.body %>
      <% if user_signed_in? %>
        <br>
        <%= link_to 'Edit', edit_post_nested_post_path(@post, nested_post) %>
        <%= button_to 'Delete', post_nested_post_path(@post, nested_post), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<strong>Tags: </strong>
<% @post.nested_posts.each do |nested_post| %>
  <% nested_post.tags.each do |tag| %>
    <%= link_to tag.name.capitalize, tag_path(tag), class: "tag" %>
  <% end %>
<% end %>

<%= link_to 'Back', posts_path %>
<br>
<h2>Total Comments: <%= @post.comments.count %></h2>
<%= render @post.comments %>
<% if user_signed_in? %>
  <h3>Leave a comment!</h3>
  <%= render 'comments/form' %>
<% end %>
<br>
