<style>


</style>
 
  <% if user_signed_in? %>
    <%= link_to 'Create Jira Issue', new_jira_issue_path(post_id: @post.id), class: "btn btn-primary mt-3" %>
  <% end %>
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="display-4"><%= @post.title %></h1>
      <p class="card-text"><%= markdown(@post.body) %></p>
      <span class="badge bg-secondary">Topic: <%= @post.topic.humanize %></span>
    </div>
  </div>

  <!-- Integer Fields -->
  <% if @post.integer_field1.present? %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Integer Field 1:</strong> <%= @post.integer_field1 %></p>
      </div>
    </div>
  <% end %>

  <% if @post.integer_field2.present? %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Integer Field 2:</strong> <%= @post.integer_field2 %></p>
      </div>
    </div>
  <% end %>

  <% if @post.integer_field3.present? %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Integer Field 3:</strong> <%= @post.integer_field3 %></p>
      </div>
    </div>
  <% end %>

  <!-- String Fields -->
  <% if @post.string_field1.present? %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>String Field 1:</strong> <%= @post.string_field1 %></p>
      </div>
    </div>
  <% end %>

  <% if @post.string_field2.present? %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>String Field 2:</strong> <%= @post.string_field2 %></p>
      </div>
    </div>
  <% end %>

  <% if @post.string_field3.present? %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>String Field 3:</strong> <%= @post.string_field3 %></p>
      </div>
    </div>
  <% end %>

  <!-- Multiline Text Fields -->
  <% if @post.multiline_text1.present? %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Multiline Text 1:</strong></p>
        <p><%= @post.multiline_text1 %></p>
      </div>
    </div>
  <% end %>

  <% if @post.multiline_text2.present? %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Multiline Text 2:</strong></p>
        <p><%= @post.multiline_text2 %></p>
      </div>
    </div>
  <% end %>

  <% if @post.multiline_text3.present? %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Multiline Text 3:</strong></p>
        <p><%= @post.multiline_text3 %></p>
      </div>
    </div>
  <% end %>

  <!-- Boolean Fields -->
  <% if @post.boolean_field1.present? %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong><%= @post.boolean_field1_text %>:</strong> <%= @post.boolean_field1 ? 'True' : 'False' %></p>
      </div>
    </div>
  <% end %>

  <% if @post.boolean_field2.present? %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong><%= @post.boolean_field2_text %>:</strong> <%= @post.boolean_field2 ? 'True' : 'False' %></p>
      </div>
    </div>
  <% end %>

  <% if @post.boolean_field3.present? %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong><%= @post.boolean_field3_text %>:</strong> <%= @post.boolean_field3 ? 'True' : 'False' %></p>
      </div>
    </div>
  <% end %>

  <!-- Date Fields -->
  <% if @post.date_field1.present? && @post.date_field1 != Date.current %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Date Field 1:</strong> <%= @post.date_field1 %></p>
      </div>
    </div>
  <% end %>

  <% if @post.date_field2.present? && @post.date_field2 != Date.current %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Date Field 2:</strong> <%= @post.date_field2 %></p>
      </div>
    </div>
  <% end %>

  <% if @post.date_field3.present? && @post.date_field3 != Date.current %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Date Field 3:</strong> <%= @post.date_field3 %></p>
      </div>
    </div>
  <% end %>

  <% if user_signed_in? && (@post.user == current_user || current_user.admin?) %>
    <div class="d-flex justify-content-start mb-4">
  <div class="mr-2">
    <%= link_to  new_post_nested_post_path(@post), class: "btn btn-success btn-block" do%>
    <i class="bi bi-file-earmark-plus-fill"></i>
    <% end %>
    
  </div>
  <div class="mr-2">
    <%= button_to edit_post_path(@post), method: :get, class: "btn btn-primary btn-block" do%>
    <i class="bi bi-pen-fill"></i>
    <% end %>
    
  </div>
  <div class="mr-2">
    <%= button_to post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-block" do%>
    <i class="bi bi-trash-fill"></i>
    <% end %>
    
  </div>
</div>
  <% end %>

  <h2 class="mt-5">Items: </h2>
  <ul class="list-group">
    <% @post.nested_posts.each do |nested_post| %>
      <li class="list-group-item">
        <i class="bi bi-bookmark-fill"></i> <%= link_to nested_post.title, post_nested_post_path(@post, nested_post), class: "text-decoration-none" %>
        <p class="mb-0"><%= truncate(nested_post.body, length: 50) %></p>
      </li>
    <% end %>
  </ul>
  <br>
</div>
